footer {
    width: 100%;
    background-color: var(--green);
    color: var(--white);
    padding: 2rem;
    
    & address {
        max-width: var(--max-width-content);
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    & a {
        background-color: transparent;
        color: var(--white);
        border: 0;
        font-weight: bold;
    }
}
