@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --green: #008542;
  --yellow: #FDC82F;
  --blue: #006298;
  --white: #FFFFFF;
  --water-green: #00B2A9;
  --light-green: #A8B400;
  --light-yellow: #FEDF00;
  --orange: #E17000;
  --dark-gray: #675C53;
  --light-gray: #BCBDBC;
  --dark-blue: #004165;
  --light-blue: #7D9AAA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif, system-ui;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 1.6rem;
  background: linear-gradient(180deg,
      var(--white) 0%,
      var(--yellow) 60%,
      var(--green) 100%);

  /* background: linear-gradient(130deg, 
    var(--white) 25%, 
    var(--yellow) 50%, 
    var(--green) 90%); */
}

h1 {
  font-size: 3.2rem;
}

form {
  width: 35rem;
  background-color: var(--white);
  border-radius: 0 0 2rem 2rem;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 0 2rem var(--white), 0 0 2rem var(--light-gray);

  & .form-header {
      text-align: center;
      margin-bottom: 2rem;

      & img {
          margin-bottom: 1rem;
      }

      & h1 {
          color: var(--green);
          font-weight: 400;
      }
  }

  /* & input, button {
      width: 100%;
      font-size: 1.4rem;
      padding: 1rem;
      border: .1rem solid var(--light-gray);
      border-radius: 1rem;

  }

  & input {
      display: block;
      margin-bottom: 2rem;
      outline: none;
      
      &::placeholder {
          color: var(--green);
      }
  } */

  /* & button {
      background-color: var(--white);
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .2s ease-in-out;
  
      &:hover {
          background-color: var(--green);
          color: var(--white);
      }
  } */
}